.row{
    padding: 20px;
    background-color: black;
    font-family : unispace, sans-serif;
}

.container{
    width: auto;
}

.parteA, .parteB{
   display: inline-block;
   text-align: justify; 
}

h1{
    color: aliceblue;
}

