<div class="row">
<h1>Hard Skills</h1>

<div class="text-center col-sm-3 col-md-3 col-lg-3">
    <circle-progress
    [percent]="85"
    [radius]="70"
    [showImage]="true" 
    [imageSrc]="'../assets/html-5.png'"
    [imageHeight]="70"
    [imageWidth]="70"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300">
     </circle-progress>
</div>
<div class="text-center col-sm-3 col-md-3 col-lg-3">
    <circle-progress
    [percent]="90"
    [radius]="70"
    [showImage]="true" 
    [imageSrc]="'../assets/css-3.png'"
    [imageHeight]="70"
    [imageWidth]="70"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300">
     </circle-progress>
</div>
<div class="text-center col-sm-3 col-md-3 col-lg-3">
    <circle-progress
    [percent]="65"
    [radius]="70"
    [showImage]="true" 
    [imageSrc]="'../assets/typescript.png'"
    [imageHeight]="60"
    [imageWidth]="60"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#F6EF07'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300">
     </circle-progress>
</div>
<div class="text-center col-sm-3 col-md-3 col-lg-3">
    <circle-progress
    [percent]="30"
    [radius]="70"
    [showImage]="true" 
    [imageSrc]="'../assets/java-script.png'"
    [imageHeight]="70"
    [imageWidth]="70"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#F30B0B'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300">
     </circle-progress>
</div>
<div class="text-center col-sm-3 col-md-3 col-lg-3">
    <circle-progress
    [percent]="95"
    [radius]="70"
    [showImage]="true" 
    [imageSrc]="'../assets/visualstudiocode_93981.png'"
    [imageHeight]="70"
    [imageWidth]="70"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300">
     </circle-progress>
</div>
<div class="text-center col-sm-3 col-md-3 col-lg-3">
    <circle-progress
    [percent]="75"
    [radius]="70"
    [showImage]="true" 
    [imageSrc]="'../assets/file_type_angular_icon_130754.png'"
    [imageHeight]="70"
    [imageWidth]="70"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300">
     </circle-progress>
</div>
<div class="text-center col-sm-3 col-md-3 col-lg-3">
    <circle-progress
    [percent]="45"
    [radius]="70"
    [showImage]="true" 
    [imageSrc]="'../assets/mysql (1).png'"
    [imageHeight]="70"
    [imageWidth]="70"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#F30B0B'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300">
     </circle-progress>
</div>
<div class="text-center col-sm-3 col-md-3 col-lg-3">
    <circle-progress
    [percent]="75"
    [radius]="70"
    [showImage]="true" 
    [imageSrc]="'../assets/apache.png'"
    [imageHeight]="70"
    [imageWidth]="60"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300">
     </circle-progress>
</div>
<div class="col-sm-1 col-md-1 col-lg-1"></div>
<div class="text-center col-sm-3 col-md-3 col-lg-3">
    <circle-progress
    [percent]="85"
    [radius]="70"
    [showImage]="true" 
    [imageSrc]="'../assets/Xampp-Icono-www.Jarroba.com_.png'"
    [imageHeight]="70"
    [imageWidth]="70"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300">
     </circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="100"
    [radius]="70"
    [showImage]="true" 
    [imageSrc]="'../assets/git.png'"
    [imageHeight]="70"
    [imageWidth]="70"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300">
     </circle-progress>
</div>
<div class="text-center col-sm-3 col-md-3 col-lg-3">
    <circle-progress
    [percent]="50"
    [radius]="70"
    [showImage]="true" 
    [imageSrc]="'../assets/ingles.png'"
    [imageHeight]="70"
    [imageWidth]="70"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#F6EF07'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300">
     </circle-progress>
</div>
<br><h1>Soft Skills</h1>
<br><div class="col-sm-2 col-sm-3 col-md-3 col-lg-3"></div>
<div class="text-center col-sm-2 col-md-2 col-lg-2">
    <circle-progress
    [percent]="100"
    [radius]="70"
    [showImage]="true" 
    [imageSrc]="'../assets/el-pensamiento-de-diseno.png'"
    [imageHeight]="70"
    [imageWidth]="70"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300">
     </circle-progress>
</div>
<div class="text-center col-sm-2 col-md-2 col-lg-2">
    <circle-progress
    [percent]="100"
    [radius]="70"
    [showImage]="true" 
    [imageSrc]="'../assets/decision.png'"
    [imageHeight]="70"
    [imageWidth]="70"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300">
     </circle-progress>
</div>
<div class="text-center col-sm-2 col-md-2 col-lg-2">
    <circle-progress
    [percent]="100"
    [radius]="70"
    [showImage]="true" 
    [imageSrc]="'../assets/unido.png'"
    [imageHeight]="70"
    [imageWidth]="70"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300">
     </circle-progress>
</div>

</div>