<div class="row">
    
    <div class="container">
        
        <div class="col-sm-12 col-md-5 col-lg-5 parteA"> 
            <h1>Proyectos Realizados</h1>
            <h1>Mi Porfolio</h1> 
            <p>  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                 Nam doloribus ipsum modi necessitatibus! 
                 Aliquam laudantium reiciendis deleniti quis quisquam provident officia explicabo,
                 quibusdam dicta accusantium animi aspernatur qui. Vel, minus.    </p> 
    </div>
        <div class="col-sm-12 col-md-6 col-lg-6 offset-md-1 offset-lg-1 parteB">
            <img src="../../../assets/bannner2.png" class="img-fluid img-proyecto">
         </div>
    </div>
</div>
