.row{
    padding: 20px;
    font-family : unispace, sans-serif;
    border: 15px solid rgb(24, 18, 18);
    
    text-align: center;
    
}
div{
    background-color: rgb(29, 139, 93);
}

td{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    
}

h2{
    color: azure;
    text-align: center;
    
}

h4{
    text-align: center;
}