<div class="row">


  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/Perfil.jpg" class="img-fluid" id="fotoperfil">
 </div>


     <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h2 id="nombre">Gentile Luciano</h2>
        <p> Full Stack Developer Jr</p>
       </div>

  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
     <span>
        <h1>Acerca de Mi</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Magni magnam quis ab distinctio, maxime a tempore adipisci 
            sed rem quae quisquam eum qui. Possimus sed fugiat harum, dolor 
            unde minus?</p>
     </span>
    </div>
</div>