.row{
    padding: 10px;
}

div{
    background-color: black;
    text-align: center;
}

h1{color: azure;
}


p{color: green;}

img{
    width: 300px;
}

#nombre{
    font-weight: bold;
    margin-top: 10%; 
    color: rgb(15, 75, 75);
    font-size: 35px;
    font-family : unispace, sans-serif
    
     
}

@media(min-width: 576px){
    #fotoperfil{
        width: 150%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px red;
        left: 2%;
        top: 600px;
      }
    }

    @media(max-width: 576px){
        #fotoperfil{
            width: 70%;
            border-radius: 100%;
            box-shadow: 3px 3px 3px red;
            left: 2%;
            top: 630px;
        } 

}