<div class="row">


  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img [src]="img" class="img-fluid" id="fotoperfil" (click)="file.click()">
    <input type="file" accept="image/*" #file   class="file" (change)="onChange($event) ">
 </div>


     <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        <h2 id="nombre">{{persona.nombre}} {{persona.apellido}} </h2><br>
        <h3> Full Stack Developer Jr</h3>
       </div>

  <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
     <span><br>
        <h1>Acerca de Mi</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Magni magnam quis ab distinctio, maxime a tempore adipisci 
            sed rem quae quisquam eum qui. Possimus sed fugiat harum, dolor 
            unde minus?</p>
     </span>
    </div>
</div>