.row{
    padding: 15px;
    font-family : unispace, sans-serif;
}

div{
    background-color: rgb(10, 10, 10);
    text-align: center;
    
}

h1{color: azure;
}

h3{
    color:darkgray ;
}


p{color: green;}

img{
    width: 300px;
}

#nombre{
    font-weight: bold;
    margin-top: 10%; 
    color:aliceblue  ;
    
    
    
     
}

@media(min-width: 576px){
    #fotoperfil{
        width: 150%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px black;
        left: 2%;
        top: 600px;
      }
    }

    @media(max-width: 576px){
        #fotoperfil{
            width: 70%;
            border-radius: 100%;
            box-shadow: 3px 3px 3px black;
            left: 2%;
            top: 630px;
        } 

}